@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scroll-column($item-width, $item-number) {
  overflow: hidden;
  white-space: nowrap;
  display: grid;
  grid-auto-columns: $item-width;
  grid-column-gap: calc((100% - $item-width * $item-number) / ($item-number - 1));
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  grid-auto-flow: column;
}

@mixin image-container {
  object-fit: cover;
  object-position: center;
  overflow: hidden;

  img {
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
}